# Somnia Shannon Testnet RPC (Live Verified)
VITE_SOMNIA_RPC_URL=https://dream-rpc.somnia.network
VITE_CHAIN_ID=50312

# Privy App ID for Email OTP & Embedded TSS Wallets
VITE_PRIVY_APP_ID=cmtpa1ea801nj0blaw6cd6wp8

# Optional Private Key for CLI Scripts
PRIVATE_KEY=
